@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --black: #272727;
  --yellow: #F2C53D;
  --spacing: 50px;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 15px;
    background: var(--black);
    margin: var(--spacing);
}

h2, h3, h5 {
    margin: 0 0 5px 0;
}

button {
    background: var(--yellow);
    border: 1px solid var(--black);
    padding: 10px 20px;
}

button:focus {
    outline: none;
}

img {
    max-width: 100%;
}

/* **************************** */
.wrapper {
    display: grid;
    grid-gap: 1.2rem;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
}

/* form */
.search-form {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        "search-field search-field search-field search-field search-icon"
}

.search-field {
    grid-area: search-field;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

.search-icon {
    grid-area: search-icon;
}

.fas {
    justify-content: center;
    display: grid;
    color: var(--black);
}

/* .resDisplay */
.resDisplay {
    color: whitesmoke;
    display: grid;
    grid-template-columns: minmax(400px, 1fr);
    grid-gap: 1.2rem;
    justify-items: center;
    padding: 15px 20px;
    border: 1px solid whitesmoke;
}

.resDisplay p {
    text-align: justify;
}

/* .season-list */
.season-list {
    display: grid;
    justify-self: start;
}

/* episode-list */
.episode-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left h5 {
    background: rgba(0,0,0,.65);
    position: absolute;
    padding: 5px;
}

.left img {
    max-width: 90%;
}

.right {
    max-width: 100%;
}

.right h4 {
    font-size: 14px;
    margin-top: -0.5rem;
}

.right p {
    font-size: 12px;
}